@using SimplyForum.Core.Models.Category
@model IEnumerable<CategoryModel>

@{
    ViewBag.Title = "All categories";
}

@if (Model != null && Model.Any())
{
    <a asp-controller="Community" asp-action="Add" class="btn btn-primary position-absolute top-20 end-10">Add community</a>
    <h2 class="text-center">@ViewBag.Title</h2>
    <hr />
    <ol class="list-group">

        @foreach (var category in Model)
        {
            <li class="list-group-item">
                <h1>@category.Type</h1>
                <button class="btn btn-primary" onclick="location.href='@Url.Action("Edit","Category",new {categoryId = category.Id})'">Edit</button>
 
            </li>
        }
    </ol>
}
else
{
    <h2 class="text-center">There are no categories yet!</h2>
    <hr />
}